.language-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.4rem;
    position: relative;
}

.languages {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border: inherit;
    list-style: none;
    background: inherit;
}

.languages li {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.languages li span {
    color: inherit;
    white-space: nowrap;
}

.languages li:hover {
    opacity: 0.7;
}

@media (max-width: 631px) {
    .languages {
        right: unset;
        left: 0;
    } 
}