.skill-container {
    width: 90vw;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;
}