.header-container {
    width: 100vw;
    height: 6rem;
    padding: 30px 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-container p {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
    color: #151515;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-container p::selection {
    background-color: unset;
}

.header-container p span.completed-name {
    width: 0px;
    overflow: hidden;
    opacity: 0;
}

.header-container p span{
    transition: 0.3s;
}

.contacts-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts-header a {
    text-decoration: none;
    color: #151515;
    position: relative;
    margin: 0px 10px;
    transition: all 0.1s;
    top: 0px;
}

.contacts-header a:hover {
    top: -5px;
}

.tools-wrapper {
    display: flex;
    align-items: center;
}

div.toggle-theme-container {
    width: 50px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    margin-right: 30px;
    transition: background 0.3s ease;
}

.toggle-theme-container input {
    width: 30px;
    height: 15px;
    opacity: 0;
    cursor: inherit;
}

.toggle-theme-container .index {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    left: 0;
}

.spin {
    animation: spin 0.3s ease forwards;
}

@media (max-width: 900px) {
    .header-container {
        padding: 0px;
        justify-content: space-between;
    }
    .header-container p {
        text-align: center;
    }
}

@media (max-width: 631px) {
    .header-container {
        justify-content: center;
        align-items: center;
    }
    .header-container p{
        pointer-events: none;
    }
    .contacts-header {
        display: none;
    }
    div.toggle-theme-container {
        position: absolute;
        right: 0px;
        margin: 0px 30px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}