.sections-container {
    width: 100vw;
    height: 5rem;
    margin-bottom: 5rem;
}

.project-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-buttons a {
    text-decoration: none;
}

.project-buttons > a button{
    padding: 15px 10px;
    border: none;
    font-family: 'Merriweather', serif;
    margin: 0px 15px;
    cursor: pointer;
    border: 1px solid #151515;
    background-color: #ededed;
    width: 125px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 900px) { 
    .sections-container {
        margin: 20px 0px;
        height: auto;
    }

    .sections-container .project-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px 30px;
    }

    .sections-container .project-buttons a button {
        margin: 10px 5px;
        text-align: center;
    }
}

@media (max-width: 499px) {
    .sections-container .project-buttons a button {
        margin: 3px 2.5px;
    }
}